# General files
*.log
.DS_Store
.env
.vscode/
.idea/

# Python (FastAPI Backend)
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.venv/
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# React (Frontend)
node_modules/
build/
dist/
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/

# Database
*.sqlite3
*.db
*.db-journal
data/
migrations/

# SQLantern specific files
sqlantern.json
sqlantern.sqlite

# Miscellaneous
*.swp
*.swo
